* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Why does center/right/left all have different results on the links */
    align-items: center;
    /* 2% of what? 6% of what? */
    padding: 5% 6%;
}

nav img {
    width: 150 px;
}

.nav-links {
    /* What is flex:1? */
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline;
    /* Spaces out Home/About/Course/Blog/Contact */
    padding: .5em 1em;
    /* What is position relative? */
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.nav-links ul li a:hover {
    border: 1px solid red;
    transition: border 1s;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* chceck back how to get animated underline on hover  */
}

header {
    /* Understand linear-gradient and rgb(a)  */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./eduford_img/banner.png);
    min-height: 100vh;
    /* difference between cover and contain?  */
    background-size: cover;
    opacity: 100%;
    width: 100%;
    /* learn more about background position  */
    background-position: center;
    /* What is background-attachment?  */
    background-attachment: fixed;
}

.main-textbox button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 1em 2em;
}

.main-textbox button:hover {
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    transition: background-color 1s;
    /* transition doesnt work on borders? */
}

h2 {
    margin: 2.5%;
}

p {
    padding-top: 5%
}

.main-textbox {
    color: white;
    text-align: center;
    /* What is position absolute */
    position: absolute;
    /* How does top left and transform correlate? I feel like they would cancel each other out, but they dont */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* nothing changed without or without this code why? */
    width: 90%;
}

.main-textbox h1 {
    font-size: 62px;
    /* Why does em not work here? */
}

.main-textbox p {
    /* short hand margin whats the order t l b r? */
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.courses {
    text-align: center;
    margin: 10%;
    margin-bottom: 5%;
}

.course-column {
    background-color: #fff3f3;
    /* What is flex-basis */
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 20px;
    box-sizing: border-box;

}

.course-column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


h2 {
    font-size: 2.5em;
}

.campus {
    text-align: center;
    width: 80%;
    margin: auto;

    box-sizing: border-box;

}

.campus-column {
    flex-basis: 32%;

}

.campus-column img {
    width: 80%;
    border-radius: 5%;

    text-align: center;
}

.facilities {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    margin-bottom: 10%;
    text-align: left;

}

.facilities h2 {
    text-align: center;
}

.facilities>p {
    text-align: center;
}

.facilities-column img {
    width: 80%;
    height: 90%;
    border-radius: 5%;
    margin-bottom: 10%;
    margin-right: 30px;
    margin-left: 5px;

}

.testimonies {
    text-align: center;
    width: 80%;
    margin: auto;
    height: 100%;
    cursor: pointer;
    justify-content: space-between;

}

.testimonies-column {
    display: flex;
    width: 550px;
    background-color: #fff3f3;
    text-align: left;
    border-radius: 15px;
    height: 150px;
    justify-content: space-between;

}

.testimonies-column h3 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 15px;
    display: inline;
}

.testimonies-column p {
    padding-top: 20px;
    margin-bottom: 20px;
}


.testimonies-column img {
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 10px;
}





/* how to get the hovering affect as the website? */
/* 
::after
what is margin/padding auto?
what is flex-basis?
*/

/* notes
Static: is the default of every element
Relative: element stays in the same spot and top right left and bottom  will move according to where the original spot is
position: fixed is stuck to the screen
background-size: cover; will try to fit to page without stretching, but will crop it
contain: will fit to page without strething but will not crop, however this will cause a repeat
background-repeat: 
background-position: where it starts. Does it align to the top/ center/left/right
*/